.nav {position: absolute;
    width: 1750px;
    height: 65px;
    left: 0px;
    top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    
    background: #56CCF2;
    list-style-type: none;}
    .nav-link {position: absolute;
    width: 111px;
    height: 24px;
    left: 1088px;
    top: 25px;
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    
    color: #333333;}
    .nav-link2{position: absolute;
    width: 125px;
    height: 24px;
    left: 1186px;
    top: 25px;
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    
    color: #333333;
    }
    .nav-link3{position: absolute;
    width: 111px;
    height: 24px;
    left: 1314px;
    top: 25px;
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    
    color: #333333;
    }
    .nav-link4 {position: absolute;
    width: 111px;
    height: 24px;
    left: 1442px;
    top: 25px;
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    
    color: #333333;
    }
    .nav-link5 {position: absolute;
    width: 111px;
    height: 24px;
    left: 1570px;
    top: 25px;
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    
    color: #333333;
    }
    .how {position: absolute;
    width: 63px;
    height: 60px;
    left: 18px;
    top: 0px;
    
    background: url(ASUCKLES.png);}
    .suckling1 {position: absolute;
    width: 325px;
    height: 25px;
    left: 80px;
    top: 30px;
    
    font-family: Proza Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    
    color: #333333;}
    
    .logo {float:left;}
    a {text-decoration: none;}
    p {position: absolute;
    width: 325px;
    height: 25px;
    left: 79px;
    top: 0px;
    
    font-family: Proza Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    
    color: #333333;
    }
    #tuokpe {position: absolute;
    width: 1750px;
    height: 958px;
    left: 0px;
    top: 0px;
    
    background: #E7F5FB;}