<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blow</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/nav-bar.css">


</head>

<body>
    <div id="tuokpe">
        <ul class="nav">
            <img class="how" src="https://static.thenounproject.com/png/156181-200.png" alt="logo" class="logo" />
            <p> SUCKLES </p>
            <li class="nav-link">
                <a href=""> HOME</a>
            </li>
            <li class="nav-link2">
                <a href=""> ABOUT MUMMY</a>
            </li>
            <li class="nav-link3">
                <a href="">ABOUT DADDY </a>
            </li>
            <li class="nav-link4">
                <a href="">FAMILY TREE</a>
            </li>
            <li class="nav-link5">
                <a href="">HERE I COME</a>
            </li>
        </ul>
    </div>
</body>

</html>