<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blow</title>
    <link rel="stylesheet" type= "text/css" href= "assets/css/nav-bar.css">
    <img src ="https://static.thenounproject.com/png/156181-200.png" alt= "logo" class ="logo" />
    <p>SUCKLES</p>
    <nav>
        <ul class= "aye">
            <li class= "aye1"><a href="#"> HOME </a></li>
            <li class= "aye2"><a href="#"> ABOUT MUMMY </a></li>
            <li class= "aye3"><a href="#"> ABOUT DADDY </a></li>
            <li class= "aye4"><a href="#"> FAMILY TREE </a></li>
            <li class= "aye5"><a href="#"> HERE I COME </a></li>
        </ul>
    </nav>
</head>
<body>
    
</body>
</html>